services:
  # browserless:
  #     image: browserless/chrome:latest
  #     restart: always
  #     ports:
  #       - "3000:3000"
  #     environment:
  #       - MAX_CONCURRENT_SESSIONS=5 # 防止并发过高撑爆内存
 
  rsshub:
    build: 
      context: ./rsshub
    ports:
      - "1200:1200"
    restart: always
    environment:
      NODE_ENV: dev
      CACHE_TYPE: redis
      REDIS_URL: "redis://redis:6379/"
      CACHE_EXPIRE: 120 # 设置缓存时间2分钟，生产环境可以适当调长
      # PUPPETEER_WS_ENDPOINT: "ws://browserless:3000?stealth=true" # 连接到 browserless 服务
    depends_on:
      - redis
 
  ai-bridge:
    build: 
      context: ./ai-bridge
    ports:
      - "5000:5000" # 暴露出来方便调试
    restart: always
    environment:
      ALIYUN_API_KEY: ${ALIYUN_API_KEY}
      ALIYUN_BASE_URL: ${ALIYUN_BASE_URL}
      MODEL_NAME: ${MODEL_NAME}
      REDIS_HOST: redis
    depends_on:
      - redis

  bot:
    build: 
      context: ./bot
    volumes:
      - ./bot_data:/app/config
    restart: always
    environment:
      TOKEN: ${TEST_TG_BOT_TOKEN}
      MANAGER: ${MANAGER}
      API_ID: ${API_ID}
      API_HASH: ${API_HASH}
      TELEGRAPH_TOKEN: ${TELEGRAPH_TOKEN}
      HTTP_TIMEOUT: 300
      T_PROXY: "socks5://x.x.x.x:xxxx"
      # R_PROXY: "socks5://x.x.x.x:xxxx"
    depends_on:
      - ai-bridge

  redis:
    image: redis:alpine
    volumes:
      - ./redis_data:/data